<template>
  <div>
  <div class="pictureDiv">
    <div class="picture">
      <h1>Grocery Store</h1>
    </div>
  </div>

  <main class="adjust">

    <h2>Bestsellers: </h2>

    <div class="bestsellers">

      <ProductsArea
      v-for="(item,index) in stock.slice(0,3)"
      :key="item.id"
      class="box"
      :index="index"
      :item="item"
      :addToBasket="addToBasket"
      />

    </div>

  </main>
  </div>
</template>

<script>

import ProductsArea from '@/components/ProductsArea.vue'
export default {
  name: 'HomeView',
  props: ['stock', 'addToBasket'],
  components: {
    ProductsArea
  }
}
</script>
