<template>
    <main class="adjust">
    <table class="ItemsSet">
        <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
            <td>Amount</td>
            <td>Full Price</td>
            <td><span>Delete</span></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>No items have been purchased</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </main>

</template>
