<template>
  <main class="wrapper">
    <div class="box-Box">
      <ProductArea
      v-for="(item,index) in stock"
      :key="item.id"
      class="box"
      :index="index"
      :item="item"
      :addToBasket="addToBasket"
      />
    </div>
  </main>
</template>

<script>
import ProductArea from '@/components/ProductsArea.vue'
export default {
  props: ['stock', 'addToBasket'],
  components: {
    ProductArea
  }
}
</script>
