<template>
    <aside class="BasketBox">
    <div class="Basket">
      <h1 class="BasketName wide">
        <span>
          Basket
        </span>
        <button @click="launch" class="BasketHide">&times;</button>
      </h1>
      <div class="BasketContent">
        <table class="BasketItems">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Full Price</th>
              <th><span>Delete</span></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(amount, key, i) in basket" :key="i">
              <td class="center">{{ key }}</td>
              <td class="center">${{ showPrice(key) }}</td>
              <td class="center">{{ amount }}</td>
              <td class="center">${{ amount * showPrice(key) }}</td>
              <td class="center">
                <button @click="pop(key)" class="Button ButtonUp BasketPop">
                  &times;
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p class="center" v-if="!Object.keys(basket).length"><em>No items in basket</em></p>
        <div class="wide">
          <span><strong>Total :</strong> ${{ calculateTotal() }}</span>
          <button class="Button ButtonUp">Checkout</button>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>

export default {
  props: ['launch', 'basket', 'stock', 'pop'],
  methods: {
    showPrice (name) {
      const item = this.stock.find((p) => {
        return p.name === name
      })
      return item.price.USD
    },
    calculateTotal () {
      const total = Object.entries(this.basket).reduce((sum, iter) => {
        return sum + (iter[1] * this.showPrice(iter[0]))
      }, 0)
      return total.toFixed(2)
    }
  }
}
</script>
