<template>
    <div class="box">
        <div class="boxTop">
          {{ item.name }}
        </div>
        <div class="boxContent">
          <form>
            <div class="bar">
              <div class="content">
                <label>Category:</label>
              </div>
              <div class="content">
                <em>{{ item.type }}</em>
              </div>
            </div>
            <div class="bar">
              <div class="content">
                <label>Price:</label>
              </div>
              <div class="content">
                ${{ item.price.USD }}
              </div>
            </div>
            <div class="bar">
              <div class="content">
                <label>Amount:</label>
              </div>
              <div class="content">
                <input type="number" v-model.number="amount">
              </div>
            </div>
          </form>
        </div>
        <div class="boxBottom">
          <button @click="addToBasket(item.name, amount)" class="Button ButtonUp">
            Add to basket
          </button>
        </div>
      </div>
</template>

<script>
export default {
  props: ['item', 'index', 'addToBasket'],
  data () {
    return {
      amount: 0
    }
  }
}
</script>
