<template>
    <header class="Bar wide">
    <nav class="BarButtons">
      <router-link to="/" class="BarRoute">
        <span>Main</span>
      </router-link >
      <router-link to="/products" class="BarRoute">
        <span>Items</span>
      </router-link>
      <router-link to="/past-orders" class="BarRoute">
        <span>Previous Shopping</span>
      </router-link>
    </nav>
    <div @click="launch" class="BarBasketRoute">
      <span> Basket ({{ fullProducts }})</span>
    </div>
  </header>
</template>

<script>
export default {
  props: ['fullProducts', 'launch']
}
</script>
