<template>
  <TopNav
  :fullProducts="fullProducts"
  :launch="launchBasketArea"
  />
  <router-view :stock="stock" :addToBasket="addToBasket" />
  <BasketArea
  v-if="showBasketArea"
  :launch="launchBasketArea"
  :basket="basket"
  :stock="stock"
  :pop="popProduct"
  />
</template>

<script>
import BasketArea from '@/components/BasketArea.vue'
import TopNav from '@/components/TopNav.vue'
import food from './food.json'

export default {
  components: {
    BasketArea,
    TopNav
  },
  data () {
    return {
      showBasketArea: false,
      stock: food,
      basket: {}
    }
  },
  computed: {
    fullProducts () {
      return Object.values(this.basket).reduce((acc, curr) => {
        return acc + curr
      }, 0)
    }
  },
  methods: {
    addToBasket (name, quantity) {
      if (!this.basket[name]) this.basket[name] = 0
      this.basket[name] += quantity
    },
    launchBasketArea () {
      this.showBasketArea = !this.showBasketArea
    },
    popProduct (name) {
      delete this.basket[name]
    }
  }
}

</script>
