.BarBasketRoute, .BarRoute {
  text-decoration: none;
}
.BasketHide, .Button, th {
  font-weight: 700;
}
*, :after, :before {
  box-sizing: border-box;
}
body {
  background: #f0f0e768;
  color: #390d04;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin: 0;
}
.Bar {
  background: #9158f9;
  color: #fff8ea;
  font-size: 0px;
}
.wide {
  display: flex;
  justify-content: space-between;
}
strong {
  font-size: 25px;
}

.BarButtons, .BarRoute {
  display: inline-block;
}
.BarBasketRoute span, .BarRoute span {
  display: inline-block;
  border-right: 1px solid #fef8dd;
  padding: 15px 19px;
  color: #fef8dd;
  font-size: 15px;
  text-decoration: none;
}
.BarRoute:hover {
  background: #7e47a0;
}
.BarBasketRoute {
  cursor: default;
}
.BarBasketRoute span {
  border: 0;
  font-size: 15px;
}
.BarBasketRoute:hover span {
  text-decoration: underline;
}

.bestsellers, .box-Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  display: inline-block;
  width: 300px;
  background: #e0c4f5;
  margin-bottom: 20px;
  color: #280d14;
}
.boxTop {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  background: #9158f9;
  padding: 10px;
  font-size: 22px;
  color: #fff8ea;
}
.boxContent {
  border-top: 0;
  border-bottom: 0;
  text-align: center;
}
.boxContent input {
  width: 100px;
  border: 1px solid #9158f9;
  padding: 4px;
}
.boxContent .content {
  align-items: center;
  width: 50%;
  min-height: 2em;
  padding: 3px 4px;
}
.boxContent .content:first-of-type {
  justify-content: end;
}
.boxBottom {
  margin-top: 15px;
  padding: 10px;
  text-align: right;
}
.center, .picture h1 {
  text-align: center;
}
.Button {
  border: 0;
  border-radius: 3px;
  padding: 5px 12px;
  vertical-align: middle;
}
.Button:active {
  padding: 6px 11px 4px 13px;
}
.ButtonUp {
  background: #9158f9;
  color: #fff8ea;
}
.ButtonUp:hover {
  background: #d6b3f0;
  color: #9158f9;
}
.bar {
  display: flex;
}
.content {
  display: inline-flex;
}
.BasketBox {
  position: fixed;
  overflow: hidden;
}
.Basket, .BasketBox {
  top: 0;
  right: 0;
  width: 410px;
  height: 100%}
.Basket {
  position: relative;
  background: #cfbcf2;
  color: #653CAD;
  transition: right 1s;
}
.Basket.hide {
  right: -410px;
}
.BasketName {
  align-items: center;
  min-height: 49px;
  border-bottom: 1px solid #b16ebf;
  padding: 0 15px;
  font-size: 26px;
}
.BasketHide {
  background: 0 0;
  border: 0;
  border-radius: 3px;
  padding: 0 13px;
  color: #fcf5d8;
  font-size: 32px;
}
.BasketHide:hover {
  background: #9158f9;
}
.BasketItems {
  width: 380px;
  border-collapse: collapse;
  margin: 0;
  font-size: 13px;
}
.ItemsSet, .adjust {
  width: 100%}
.Basketimage {
  max-width: 45px;
  max-height: 45px;
}
.BasketContent {
  max-height: calc(100% - 49px);
  padding: 10px;
  overflow: auto;
}
.BasketPop {
  padding: 0 7px;
  font-size: 20px;
}
.pictureDiv {
  width: 100%;
  height: 500px;
  background-image: url("../img/picture.jpg");
  background-position: center center;
  background-size: cover;
}
.picture {
  display: flex;
  justify-content: center;
  height: 100%;
  background-position: top center;
}
.picture h1 {
  align-self: center;
  color: #653CAD;
  font-family: Modak, tahoma, sans-serif;
  font-size: 130px;
  opacity: .9;
}
.adjust {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 35px;
}